<nav class="navbar is-expanded is-transparent is-light">
  <div class="navbar-brand">
    <span class="navbar-burger" data-target="NavBarMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="NavBarMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="link" href="/">Home</a>
      </div>
      <div class="navbar-item">
        <a class="link" href="{{ "/posts" | relative_url }}">Post</a>
      </div>
    </div>
  </div>
</nav>
