@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed");
* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

body { font-family: "IBM Plex Sans Condensed", sans-serif; font-size: 18px; line-height: 1.5; color: #000; background-color: #f4f4f4; }

.card { box-shadow: 0 0 5px #ccc; }

.card__image { display: block; position: relative; }
.card__image img { display: block; }
.card__image:before, .card__image:after { position: absolute; z-index: 1; content: ""; opacity: 0; transition: opacity 0.2s ease-in-out; }
.card__image:before { top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7); }
.card__image:after { width: 80px; height: 80px; background: url("https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-magnifying-glass.svg"); background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; top: 50%; left: 50%; margin-left: -40px; margin-top: -40px; }
.card__image:hover:before { opacity: 1; }
.card__image:hover:after { opacity: 0.5; }

.card__caption { background-color: white; padding: 20px; }

.card__title { margin-bottom: 10px; }
.card__title a { text-transform: uppercase; text-decoration: none; font-weight: bold; font-size: 16px; color: #000; }
.card__title a:hover { border-bottom: dotted 1px #9055a2; }

.card__description { color: #777; font-size: 14px; line-height: 1.4; }

@media screen and (min-width: 900px) { .container { display: flex; flex-direction: row; height: 100vh; padding: 0; }
  .container__mobile-header { display: none; }
  .container__sidebar { display: block; width: 30%; min-width: 320px; box-sizing: border-box; padding: 40px; background-color: #f4f4f4; }
  .container__body { flex: 1; margin-top: 0px; } }
.posts.is-loading { visibility: hidden; }

.post__item { margin-bottom: 30px; }

@media screen and (max-width: 400px) { .posts { margin: 0 15px; } }
@media screen and (min-width: 401px) { .posts { margin-right: 15px; }
  .post__item { box-sizing: border-box; width: 50%; float: left; padding-left: 15px; } }
@media screen and (min-width: 1400px) { .post__item { width: 33.3333333333%; } }
@media screen and (min-width: 900px) { .posts { padding: 40px 0 10px; margin-right: 40px; } }
@media screen and (min-width: 1100px) { .post__item { padding-left: 40px; } }
.post { padding: 40px 20px; background-color: white; min-height: 100%; }

.post__inner { max-width: 600px; padding: 40px; }

.post__title { font-size: 30px; margin-bottom: 30px; font-weight: bold; color: #000; line-height: 1; }

.post__date { color: #777; }

.post__lead { font-size: 18px; font-style: italic; margin-bottom: 30px; }

.post__gallery, .post__slider { margin-bottom: 30px; }

.post__body { color: #000; font-size: 14px; margin-bottom: 30px; }
.post__body h1, .post__body h2, .post__body h3, .post__body h4, .post__body h5, .post__body h6, .post__body p, .post__body blockquote, .post__body pre, .post__body ul, .post__body ol { margin-bottom: 20px; }
.post__body h1:last-child, .post__body h2:last-child, .post__body h3:last-child, .post__body h4:last-child, .post__body h5:last-child, .post__body h6:last-child, .post__body p:last-child, .post__body blockquote:last-child, .post__body pre:last-child, .post__body ul:last-child, .post__body ol:last-child { margin-bottom: 0; }
.post__body h1, .post__body h2, .post__body h3, .post__body h4, .post__body h5, .post__body h6 { font-weight: bold; margin-top: 40px; color: #000; }
.post__body h1 { font-size: 3em; }
.post__body h2 { font-size: 2em; }
.post__body h3 { font-size: 1.5em; }
.post__body li { margin-left: 20px; margin-bottom: 5px; }
.post__body ol li { list-style-type: decimal; }
.post__body ul li { list-style-type: disc; }
.post__body blockquote { border-left: 4px solid #9055a2; font-size: 1.1em; padding: 20px; }
.post__body p { text-align: justify; }
.post__body code { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px; }

@media screen and (min-width: 900px) { .post { padding: 0 60px; }
  .post__title { font-size: 48px; }
  .post__lead { font-size: 20px; }
  .post__body { font-size: 18px; }
  .post__body blockquote { padding-left: 40px; } }
@media screen and (min-width: 1300px) { .post__slider { margin-right: -200px; } }
.sidebar__icon { display: flex; }

.sidebar__icon__image { display: block; margin-bottom: 20px; background: url("https://en.gravatar.com/userimage/152678648/8568aa52ee3fecfc4309af1438e889ef?size=200"); background-repeat: no-repeat; background-size: contain; height: 65px; width: 65px; border-radius: 50%; }

.sidebar__icon__title { flex: 1; margin-bottom: 20px; margin-left: 20px; align-self: center; }
.sidebar__icon__title a { font-size: 18px; text-transform: uppercase; font-weight: bold; text-decoration: none; color: #000; }

.sidebar__icon__subtitle { font-weight: 100; }

.sidebar__menu { padding: 20px; margin-bottom: 20px; }
.sidebar__menu li a { text-decoration: none; display: block; padding-left: 20px; position: relative; color: #000; }
.sidebar__menu li a:before { content: ""; position: absolute; left: 0; top: 50%; margin-top: -6px; height: 12px; width: 12px; background: url("https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/chevron-right.svg"); background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; }

.highlight { color: #f8f8f2; background-color: #49483e; padding: 5px; margin-bottom: 20px; overflow: auto; }
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1 { color: #75715e; font-style: italic; }
.highlight .cp { color: #75715e; font-weight: bold; }
.highlight .cs { color: #75715e; font-weight: bold; font-style: italic; }
.highlight .err { color: #960050; background-color: #1e0010; }
.highlight .gi { color: #ffffff; background-color: #324932; }
.highlight .gd { color: #ffffff; background-color: #493131; }
.highlight .ge { color: #000000; font-style: italic; }
.highlight .gr, .highlight .gt { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaaaaa; }
.highlight .k, .highlight .kv, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt { color: #66d9ef; font-weight: bold; }
.highlight .kn, .highlight .ow, .highlight .o { color: #f92672; font-weight: bold; }
.highlight .mf, .highlight .mh, .highlight .il, .highlight .mi, .highlight .mo, .highlight .m, .highlight .mb, .highlight .mx, .highlight .se { color: #ae81ff; }
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .s { color: #e6db74; }
.highlight .na { color: #a6e22e; }
.highlight .nc, .highlight .nd, .highlight .ne, .highlight .nf { color: #a6e22e; font-weight: bold; }
.highlight .no { color: #66d9ef; }
.highlight .bp, .highlight .nb, .highlight .ni, .highlight .nn, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .nv, .highlight .w { color: #f8f8f2; }
.highlight .nl { color: #f8f8f2; font-weight: bold; }
.highlight .nt { color: #f92672; }

.highlighter-rouge { background-color: #e6e6e6; color: black; padding-left: 3px; padding-right: 3px; }
