---
layout: default
---

<section class="hero is-fullheight">
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="image is-128x128 container">
        <img class="is-rounded" src="https://en.gravatar.com/userimage/152678648/8568aa52ee3fecfc4309af1438e889ef?size=200">
      </p>
      <section class="section">
        <h1 class="title is-uppercase has-text-weight-bold">{{site.title}}</h1>
        <p class="subtitle has-text-weight-light">{{site.subtitle}}</p>
      </section>
    </div>
  </div>
</section>
