---
layout: default
---


<section class="section">
  <div class="title">{{ page.tag }}</div>
</section>

<section class="section">
  <div class="columns is-multiline">
    {% for post in site.posts %}
    <div class="column is-one-quarter-desktop is-one-third-tablet">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="{{ post.cover_image }}">
          </figure>
        </div>
        <div class="card-content">
          <a class="title is-4" href="{{ post.url }}">{{ post.title }}</a>
          <br><br>
          <p class="has-text-justified"> {{ post.preview }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
